In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [7]:
data=pd.read_csv("hdata.csv")
data.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
num_preg        768 non-null int64
glucose_conc    768 non-null int64
diastolic_bp    768 non-null int64
thickness       768 non-null int64
insulin         768 non-null int64
bmi             768 non-null float64
diab_pred       768 non-null float64
age             768 non-null int64
skin            768 non-null float64
diabetes        768 non-null bool
dtypes: bool(1), float64(3), int64(6)
memory usage: 54.8 KB

In [9]:
dmap = {True: 1, False: 0}
data['diabetes'] = data['diabetes'].map(dmap)
data.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,1
1,1,85,66,29,0,26.6,0.351,31,1.1426,0
2,8,183,64,0,0,23.3,0.672,32,0.0000,1
3,1,89,66,23,94,28.1,0.167,21,0.9062,0
4,0,137,40,35,168,43.1,2.288,33,1.3790,1

In [10]:
y=data["diabetes"] 
y.shape

(768,)

In [11]:
x=data[["num_preg","glucose_conc","diastolic_bp","thickness","insulin","bmi","diab_pred","age","skin"]] 
x.shape

(768, 9)

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [13]:
x_train.shape

(537, 9)

In [14]:
y_train.shape

(537,)

In [15]:
x_test.shape

(231, 9)

In [16]:
y_test.shape

(231,)

In [18]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization, Dropout
model = Sequential()

In [19]:
model.add(Dense(32, input_dim=9))
model.add(BatchNormalization())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(1,activation='sigmoid'))

WARNING:tensorflow:From C:\Users\Padam\Anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\Padam\Anaconda3\lib\site-packages\tensorflow\python\keras\layers\core.py:143: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [20]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [21]:
model.fit(x_train,y_train,epochs=10,batch_size=15)

WARNING:tensorflow:From C:\Users\Padam\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/10
537/537 [==============================] - 0s 808us/sample - loss: 0.6693 - acc: 0.6369
Epoch 2/10
537/537 [==============================] - 0s 108us/sample - loss: 0.6135 - acc: 0.6778
Epoch 3/10
537/537 [==============================] - 0s 95us/sample - loss: 0.5950 - acc: 0.6946
Epoch 4/10
537/537 [==============================] - 0s 91us/sample - loss: 0.5796 - acc: 0.7318
Epoch 5/10
537/537 [==============================] - 0s 147us/sample - loss: 0.5584 - acc: 0.7412
Epoch 6/10
537/537 [==============================] - 0s 95us/sample - loss: 0.5612 - acc: 0.7095
Epoch 7/10
537/537 [==============================] - 0s 102us/sample - loss: 0.5419 - acc: 0.7188
Epoch 8/10
537/537 [==============================] - 0s 98us/sample - loss: 0.5272 - acc: 0.7430
Epoch 9/10
537/537 [==============================] - 0s 95us/sample - loss: 0.5153 - acc: 0.7467
Epoch 10/10
537/537 [==============================] - 0s 124us/sample - loss: 0.5210 - acc: 0.7505

In [22]:
model.evaluate(x_test,y_test)

231/231 [==============================] - 0s 306us/sample - loss: 0.4877 - acc: 0.7619

[0.4876608564740136, 0.7619048]